body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
            /*HEADER*/
      /*top bar*/
.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;

  background-color: #f3f7f9;
}

.top-header-bar {
  margin-bottom: 46px;
  color: #ffffff;

  background-color: #293449;
}

.top-header-bar ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.top-header-bar a {
  color: inherit;
}

.main-logo a {
  display: inline-block;
  padding: 10px 55px;
  padding-bottom: 9px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 
    inset 0 1px 0 0 #e03643,
    0 5px 0 0 #b52933;
}

.main-logo a:hover,
.main-logo a:focus {
  background-color: #ca2c37;
  box-shadow: 
    inset 0 1px 0 0 #bf2d38,
    0 5px 0 0 #9a212a;
}

.main-logo a:active {
  background-color: #ba2732;
  box-shadow: 
    inset 0 1px 0 0 #b02834,
    0 5px 0 0 #8e1e26;
}

.header-list a {
  display: inline-block;
  padding: 13px;

  font-size: 17px;
  line-height: 18px;
}

.header-list li:not(:first-child) a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.search-form-item input[type="search"]{
  padding: 0;
  padding-left: 50px;

  box-sizing: border-box;
  width: 265px;
  height: 44px;

  color: #ffffff;
  font: inherit;
  font-size: 17px;
  line-height: 18px;

  border: none;
  background-color: #293449;
}

.header-list a:hover,
.header-list a:focus,
.header-list input[type="search"]:hover {
  background-color: #212a3a;
}

.header-list input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-form-item {
  position: relative;
  margin: 0;
}

.search-form-item svg {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);
}

.search-form-item path {
  fill: rgba(255, 255, 255, 0.3);
}

.search-form-item:hover path {
  fill: rgba(255, 255, 255, 1);
}

input[type="search"]:focus ~ svg path{
  fill: #ee3643;
}

input[type="search"]::placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}


.header-list .bookmark {
  position: relative;
  padding-left: 43px;
  padding-right: 28px;
}

.bookmark span {
  position: absolute;
  top: 50%;
  left: 17px;

  width: 14px;
  height: 16px;

  transform: translateY(-50%);
}

.bookmark path {
  fill: rgba(255, 255, 255, 0.3);
}

.bookmark:hover path,
.bookmark:focus path {
  fill: rgba(255, 255, 255, 1);
}

.header-list .basket {
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
}

.basket span {
  position: absolute;
  top: 50%;
  left: 17px;

  width: 15px;
  height: 15px;

  transform: translateY(-50%);
}

.basket circle,
.basket polygon {
  fill: rgba(255, 255, 255, 0.3);
}

.basket:hover circle,
.basket:focus circle,
.basket:hover polygon,
.basket:focus polygon {
  fill: rgba(255, 255, 255, 1);
}

.button-order {
  display: inline-block;
  padding: 13px 21px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #63a63e;
}

.button-order:hover,
.button-order:focus {
  background-color: #5fbb2d;
}

.button-order:active {
  opacity: 0.5;
  background-color: #518534;
}

      /*middle bar*/
.middle-header-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  
  background-color: #f3f7f8;
}

.middle-header-bar p {
  margin: 0;
}

.middle-header-bar .header-site-description {
  width: 196px;
  margin-left: 52px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-site-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
}

.header-number {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 49px;
  padding-left: 71px;
  margin-bottom: 5px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-authorization {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 285px;
}

.button-authorization {
  display: inline-block;
  padding: 14px 25px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.button-authorization.sign-in {
  padding-left: 48px;
}

.button-authorization.sign-in {
  position: relative;
}

.sign-in-icon {
  position: absolute;
  top: 16px;
  left: 14px;
}

.sign-in-icon path,
.sign-in-icon polygon {
  fill: #edeff1;
}

.button-authorization:hover .authorization-text,
.button-authorization:focus .authorization-text {
  color: #ee3643;
}

.button-authorization:hover path,
.button-authorization:hover polygon,
.button-authorization:focus path,
.button-authorization:focus polygon {
  fill: #32425c;
}

.button-authorization:active .authorization-text {
  color: #000000;
  opacity: 0.3;
}

.button-authorization:active path,
.button-authorization:active polygon {
  fill: #c5c5c5;
}

      /*bottom bar*/
.bottom-header-bar {
  margin-bottom: 60px;
}
.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item a {
  display: inline-block;
  padding: 22px 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation-item:first-child a {
  padding-right: 35px;
  padding-left: 52px;
}

.main-navigation-item:last-child a {
  padding-left: 35px;
  padding-right: 50px;
}

.main-navigation-item a:hover,
.main-navigation-item a:focus {
  background-color: #293449;
}

.main-navigation-item a:active span {
  opacity: 0.5;
}

/*header grid*/
.wrapper-top-header-bar {
  display: flex;
}

.header-list {
  display: flex;
}

      /*button*/
.button {
  display: inline-block;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}      

            /*main*/
.featuers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.featuers-list .featuers-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 300px;
  padding-top: 23px;
  padding-left: 23px;
  padding-bottom: 22px;
  box-sizing: border-box;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #000000;
}

.featuers-item {
  width: 300px;
  height: 123px;
  position: relative;
}

.featuers-item::after {
  content: "";
  position: absolute;
  top: 65px;
  right: 65px;

  transform: translate(50%, -50%);

  background-position: 0 0;
  background-repeat: no-repeat;
}

.featuers-item.material::after {
  width: 44px;
  height: 65px;

  background-image: url("../img/painter.svg");
}

.featuers-item.tool::after {
  width: 75px;
  height: 61px;

  background-image: url("../img/drill.svg");
}

.featuers-item.transport::after {
  width: 78px;
  height: 62px;

  background-image: url("../img/traktor-icon.svg");
}

.featuers-item.sale::after {
  width: 59px;
  height: 72px;

  background-image: url("../img/shoping-cart-icon.svg");
}

.featuers-item.delivery::after {
  width: 78px;
  height: 63px;

  background-image: url("../img/vehicle-icon.svg");
}

.button-featuers {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 15px;

  background-color: rgba(0, 0, 0, 0.1);
}

.button-featuers:hover,
.button-featuers:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-featuers:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.featuers-item.material {
  
  background-color: #ffbf47;
}

.featuers-item.tool {
  
  background-color: #3bbce3;
}

.featuers-item.transport {
  
  background-color: #dc91d8;
}

.featuers-item.sale {
  
  background-color: #8ed78f;
}

.featuers-item.delivery {
  
  background-color: #ffc047;
}



      /*слайдер*/
.header-slider { /*временно для сетки*/
  width: 620px;
  height: 266px;

  background-color: #000000;
}

.header-slider-1 {
  position: relative;

  padding-top: 26px;
  padding-left: 25px;
  box-sizing: border-box;
  width: 620px;
  height: 266px;

  background-image: url("../img/slider1-back.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-slider-2 {
  display: none;
  background-image: url("../img/slider1-back.jpg");
}

.header-slider h3 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header-slider p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.button-header-slider {
  position: absolute;
  bottom: 22px;
  left: 25px;
  padding-left: 48px;
  padding-right: 48px;
}

.button-header-slider:hover,
.button-header-slider:focus {
  background-color: #ca2c37;
}

.button-header-slider:active {
  background-color: #ba2732;
}

.popular-products h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 30px;
  padding-right: 24px;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.button-pop-products {
  padding-left: 55px;
  padding-right: 55px;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  list-style: none;
}

.popular-products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;

  box-sizing: border-box;
  width: 220px;
  height: 318px;

  border: 1px solid #eaeaea;
}

.popular-products-item img {
  position: absolute;
  top: 85px;
  
  transform: translateY(-50%);
  order: -1;
}

.popular-products-item h3 {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 42px;

  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

h3 ~ .popular-products-old-price {
  margin-top: -26px;
}

.popular-products-item span {
  text-transform: uppercase;
}

.popular-products-old-price {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.popular-products-price {
  position: relative;
  display: inline-block;
  padding: 12px 36px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 3px;
  background-color: #ee3643;
}

.popular-products-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 21px solid #ffffff;
  border-left-color: #ee3643;
}

.popular-products-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 10;
}

.popular-products-item .flag-new {
  background-image: url("../img/new-flag.png");
}

.popular-products-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 45px;
  padding-left: 39px;
  padding-right: 39px;
  width: 218px;
  height: 158px;
  box-sizing: border-box;

  background-color: #ffffff;
  z-index: 5;
}

.actions a {
  display: inline-block;

  width: 135px;
  box-sizing: border-box;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border-radius: 3px;
}

.actions .buy {
  position: relative;
  padding: 12px 48px;
  margin-bottom: 7px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.actions .buy span {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;

  width: 15px;
  height: 15px;

  transform: translateY(-50%);
  fill: rgba(255, 255, 255, 0.3);
}

.actions .buy:hover {
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.actions .buy:hover span {
  fill: rgba(255, 255, 255, 1);
}


.actions .bookmark-product {
  padding: 12px 29px;
  border: 3px solid #63a63e;
}

.actions .bookmark-product:hover {
  border-color: #32425c;
}

.actions .bookmark-product:active {
  border-color: #32425c;
  opacity: 0.3;
}

.popular-products-item .actions {
  display: none;
}

.popular-products-item:hover .actions {
  display: block;
}

.popular-products-item:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.poplar-producers h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.button-pop-producers {
  padding-left: 70px;
  padding-right: 70px;
}

.poplar-producers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;

  list-style: none;
}

.poplar-producers-item a {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  
  text-align: center;
  border: 1px solid #eaeaea;
}

.poplar-producers-item a:hover,
.poplar-producers-item a:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.poplar-producers-item a:active {
  opacity: 0.3;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.poplar-producers-item:nth-child(5) a,
.poplar-producers-item:nth-child(6) a,
.poplar-producers-item:nth-child(7) a,
.poplar-producers-item:nth-child(8) a {
  margin-bottom: 0;
}

.poplar-producers-item img {
  position: absolute;
  top: 50%;
  
  transform: translate(-50%, -50%);
}

.poplar-producers-item:nth-child(4n) a {
  margin-right: 0;
}

.information-block h3 {
  margin: 0;
  margin-bottom: 35px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.company-information p {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.company-information p:last-child {
  margin-bottom: 21px;
}

.transport-company-list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.transport-company-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.transport-company-item:last-child {
  margin-bottom: 36px;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  
  margin-top: -1px;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
} 

.button-company-information {
  padding-left: 40px;
  padding-right: 40px;
}

.company-contacts p {
  margin: 0;
  margin-bottom: 30px;

  font-size: 13px;
  line-height: 24px;
}

.company-contacts img {
  margin-bottom: 40px;
}

.button-company-contacts {
  padding-left: 64px;
  padding-right: 64px;
}

.information-block {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.company-information {
  width: 525px;
}

.company-contacts {
  width: 305px;
}

.information-block {
  margin-bottom: 86px;
}

      /*slider*/
.main-slider {
  width: 1200px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 102px;


  font-size: 13px;
  line-height: 24px;
  background-color: #f5f8fa;
}

.main-slider h2,
.main-slider h3,
.main-slider p {
  margin: 0;
}

.main-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-slider .title {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-slider .slider-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 66px
}
  
.main-slider-item {
  padding: 15px 23px;
  padding-right: 0;
  width: 240px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 #4d627b;
}

.main-slider-item.current {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
} 

.main-slider h3 {
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.button-credit {
  margin-top: 25px;
  padding-left: 45px;
  padding-right: 45px;
}

.wrapper-main-slider {
  display: flex;
  justify-content: space-between;
}

.main-slider-list {
  width: 240px;
}

.slider-pack {
  position: relative;
  width: 620px;
}

.slider-pack-item {
 position: absolute;
 top: 0;
 left: 0;
}

.main-slider-1 {
  position: relative;
}

.main-slider-2 {
  display: none;
}

.main-slider-3 {
  display: none;
}

.main-slider-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 206px;
  height: 146px;

  background-image: url("../img/delivery-car.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

            /*footer*/

.footer-main-menu {
  padding-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
} 

.main-logo.footer a {
  padding: 20px 41px;

  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.footer-contacts {
  margin: 0;
  color: #ffffff;
}

.footer-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-navigation-item a {
  color: #ffffff;
}

.footer-features-item a {
  color: #ffd180;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus,
.footer-features-item a:hover,
.footer-features-item a:focus {
  text-decoration: underline;
}

.footer-navigation-item a:active,
.footer-features-item a:active {
  opacity: 0.5;
}

.wrapper-footer-main-menu {
  display: flex;
  justify-content: space-between;
}

.wrapper-footer-logo {
  width: 330px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 555px;
  padding-top: 38px;
}

.main-logo.footer {
  margin-bottom: 28px;
}

.footer-navigation .footer-navigation-list {
  display: flex;
  width: 550px;
  margin-bottom: 38px;
}

.footer-navigation-item {
  margin-right: 60px;
}

.footer-navigation-item:last-child {
  margin-right: 0;
}

.footer-navigation .footer-features-list {
  display: flex;
  width: 530px;
  padding-left: 26px;
}

.footer-features-item {
  margin-right: 60px;
}

.footer-features-item:last-child {
  margin-right: 0;
}

.footer-references {
  padding-top: 40px;
  padding-bottom: 35px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-references p {
  margin: 0;
}

.footer-references ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-references a {
  color: #ffd180
}

.wrapper-footer-references {
  display: flex;
}

.footer-references .footer-copyright {
  width: 230px;
  margin-right: 160px;
}

.footer-references .footer-social {
  width: 135px;
  margin-right: 118px;
}

.footer-references .footer-references-column {
  width: 300px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.social-item {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 41px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-item:hover,
.social-item:focus,
.social-item:active {
  background-color: #ee3643;
}

.social-item::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-item.vk::before {
  content: "";

  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-item.facebook::before {
  content: "";

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-item.instagram::before {
  content: "";

  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-references-column {
  display: flex;
}

.footer-references .footer-feedback {
  width: 140px;
  margin-right: 46px;
}

.footer-references .footer-developed {
  width: 105px;
  margin-right: auto;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-developed a:hover,
.footer-developed a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developed a:active {
  color: #ee3643;
}
/* сетка на float*/

.featuers-item.material {
  margin-right: 20px;
  float: left;
}

.featuers-item.tool {
  float: left;
}

.featuers-item.transport {
  float: right;
}

.header-slider {
  float: left;
}

.featuers-item.sale {
  float: right;
}

.featuers-item.delivery {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.featuers-list {
  padding-bottom: 53px;
}

.featuers-list .featuers-item  {
  margin-bottom: 20px;
}

.featuers-list .featuers-item:last-child  {
  margin-bottom: 0;
}

            /*inner-page*/
      /*main*/
.inner-page main {
  font-family: "PT Sans", "Arial", sans-serif;
}

.inner-page .main-header {
  margin-bottom: 22px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  list-style: none;
}

.breadcrumbs-item a {
  margin-right: 38px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-item a {
  position: relative;
}

.breadcrumbs-item .homepage-element {
  margin-right: 50px;
}

.homepage-element::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.breadcrumbs-item:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -23px;

  width: 8px;
  height: 12px;

  background-image: url("../img/arrow-rigth.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.homepage-element::after {
  right: -35px !important;
}

.inner-page .page-title {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  margin-bottom: 20px;

  font-family: "Cuprum", "Arial", sans-serif;;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-filter h3 {
  margin: 0;
  padding: 10px 18px;
  margin-bottom: 13px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.catalog-filter {
  width: 225px;
}

.catalog-filter .catalog-filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter-item  legend {
  padding: 0;
  margin-bottom: 16px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;  
  text-transform: uppercase;
}

.catalog-filter-producer-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-producer-item label {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  margin-bottom: 26px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-producer-item:last-child label {
  margin-bottom: 0;
}


.catalog-filter-producer-item label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 23px;
  height: 23px;

  background-image:  url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: translate(0, -50%);
}

.catalog-filter-producer-item input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;

  background-image:  url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: translate(0, -50%);
}

.catalog-filter-item.producer{
  padding-bottom: 21px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter-supply-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-supply-item label {
  position: relative;
  display: inline-block;
  padding-left: 36px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-supply-item .radio-icon {
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  fill: #c5c5c5;
  transform: translateY(-50%);
}

.radio-icon.radio-checked {
  display: none;
}

.catalog-filter-supply-item input[type="radio"]:checked ~ .radio-icon.radio-checked {
  display: block;
}

.catalog-filter-supply-item label:hover .radio-icon {
  fill: #b5b5b5;
}

.catalog-filter-supply-item input[type="radio"]:disabled ~ .radio-icon {
  opacity: 0.3;
}

.catalog-filter-supply-item input[type="radio"]:disabled ~ span {
  opacity: 0.4;
}



/*
.catalog-filter-supply-item label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.catalog-filter-supply-item input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: translateY(-50%);
}
*/
.catalog-filter-supply-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item.supply {
  margin-bottom: 75px;
}

.button-filter {
  padding: 11px 38px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.product-sort {
  display: flex;
  padding: 11px 18px;
  margin-bottom: 20px;
}

.product-sort {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;

  list-style: none;
}

.product-sort span {
  margin-right: 140px;
}

.product-sort-item:first-child a {
  margin-right: 70px;
}

.product-sort-item:nth-child(2) a {
  margin-right: 65px;
}

.product-sort-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.product-sort-list .product-sort-item a:hover,
.product-sort-list .product-sort-item a:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.product-sort-item.current a {
  color: #ee3643;
  border: none;
}




.product-sort-arrow .up-direction {
  margin-right: 20px;
}

.product-sort-arrow polygon,
.product-sort-arrow polyline {
  fill: #c5c5c5;
}

.product-sort-arrow a:hover polygon,
.product-sort-arrow a:hover polyline,
.product-sort-arrow a:focus polygon,
.product-sort-arrow a:focus polyline {
  fill: #000000;
}

.product-sort-arrow .current polygon,
.product-sort-arrow .current polyline {
  fill: #ee3643;
}

.inner-page-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.product-catalog-column {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.product-catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-catalog-list .popular-products-item {
  margin-bottom: 20px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-button {
  display: inline-block;
  padding: 10px 16px;
  margin-right: 10px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:last-child .page-button {
  margin-right: 0;
}

.page-button-current {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.page-button-next {
  padding-left: 30px;
  padding-right: 30px;
}

.page-button:hover,
.page-button:focus {
  border-color: #bdc6ca;
}

.page-button:focus {
  border-color: #ee3643;
}

.product-item-description {
  padding: 67px 0;
}

.product-item-description h2 {
  margin: 0;
  margin-bottom: 33px;

  font-family: "Cuprum", "Arial", sans-serif;;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-item-description p {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
}

.bottom-description-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #f2f6f8;
}













